# Banco de Dados (NeonDB PostgreSQL)
DATABASE_URL=postgresql://usuario:senha@ep-xxx.us-east-1.aws.neon.tech/systemdrawn?sslmode=require

# JWT
JWT_SECRET=jwt_minimo_32_chars
JWT_EXPIRES_IN=24h

# Servidor
PORT=3000
NODE_ENV=development
